# Postgres configuration
DB_HOST=""
DB_PORT=5432
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_TABLE=""
DB_CHANNEL_NAME=""
# Pulsar configuration
PULSAR_HOST=""
PULSAR_PORT=""
PULSAR_NAMESPACE=""
PULSAR_TOPIC=""
