# Postgres configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_CHANNEL_NAME=channel
# Pulsar configuration
PULSAR_HOST=localhost
PULSAR_PORT=6650
PULSAR_NAMESPACE=namespace
PULSAR_TOPIC=test
